<!DOCTYPE html>
<html xmlns:th="http://wwwthymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text=${titulo}></title>
<link href="../static/css/estilos.css" th:href="@{/css/estilos.css}"
	rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div id="question-container" class="hide">
			<div id="question" class="question">Question</div>
			<img id="img-question" 
						style="max-width: 25%;  margin-left:auto;  margin-right:auto;"  />
			<div id="answer-buttons" class="btn-grid">
				<button class="btn">Answer 1</button>
				<button class="btn">Answer 2</button>
				<button class="btn">Answer 3</button>
				<button class="btn">Answer 4</button>
			</div>
		</div>
		<div class="controls">
			<button id="start-btn" class="start-btn btn">Start</button>
			<button id="next-btn" class="next-btn btn hide">Next</button>
		</div>
	</div>
	
	<script th:inline="javascript">
	const questions = [];
		var preguntas = [[${preguntas}]];
		for(var i=0;i<[[${preguntas.size()}]];i++){
		    questions.push({
		        question: preguntas[i].enunciado,
		        answers: [
		            {text: preguntas[i].opcion1, correct: preguntas[i].correcta==1? true:false},
		            {text: preguntas[i].opcion2, correct: preguntas[i].correcta==2? true:false},
		            {text: preguntas[i].opcion3, correct: preguntas[i].correcta==3? true:false},
		            {text: preguntas[i].opcion4, correct: preguntas[i].correcta==4? true:false}
		            
		        ],
		        imagen: preguntas[i].foto
		    });	
	
		}
		
	</script>
	<script th:src="@{/javascript.js}"></script>
</body>

</html>