<!DOCTYPE html>
<html xmlns:th="http://wwwthymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text=${titulo}></title>
<link href="../static/css/estilos.css" th:href="@{/css/estilos.css}"
	rel="stylesheet" />
</head>
<body>

	<div id="matriz" name="matriz" class="hide">

		<div id="objeto" th:object="${pregunta}" class="hide">
			
			<div id="enunciado"  th:text="${pregunta.enunciado}" class="hide"></div>
			<div id="opcion1" th:text="${pregunta.opcion1}" class="hide"></div>
			<div id="opcion2" th:text="${pregunta.opcion2}" class="hide"></div>
			<div id="opcion3" th:text="${pregunta.opcion3}" class="hide"></div>
			<div id="opcion4" th:text="${pregunta.opcion4}" class="hide"></div>
			<div id="correcta" th:text="${pregunta.correcta}" class="hide"></div>
			


		</div>


	</div>


	<div class="container">
		<div id="question-container" class="hide">
			<div id="question">Question</div>
			<div id="answer-buttons" class="btn-grid">
				<button class="btn">Answer 1</button>
				<button class="btn">Answer 2</button>
				<button class="btn">Answer 3</button>
				<button class="btn">Answer 4</button>
			</div>
		</div>
		<div class="controls">
			<button id="start-btn" class="start-btn btn">Start</button>
			<button id="next-btn" class="next-btn btn hide">Next</button>
		</div>
	</div>
	<script>
	var message = "[[${pregunta.enunciado}]]"; console.log(message);
	var opcion1 = "[[${pregunta.opcion1}]]";
	var opcion2 = "[[${pregunta.opcion2}]]";
	var opcion3 = "[[${pregunta.opcion3}]]";
	var opcion4 = "[[${pregunta.opcion4}]]";
	var correcta = [[${pregunta.correcta}]]; console.log(correcta);
	</script>
	<script th:src="@{/javascript.js}"></script>
</body>

</html>