<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Los más votados.</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>

	
	<header th:replace="layout/layout :: header"></header>
	<h1>Los temas más votados.</h1>
	<div class="container">

		<div>
			<a class="btn btn-primary btn-xs" th:text="Ascedente"
				th:href="@{/populares/} +  asc"></a>
		</div>

		<div>
			<a class="btn btn-success btn-xs" th:text="Descendente"
				th:href="@{/populares/} +  desc"></a>
		</div>

		<div th:each="tema: ${temas}" class="container py-4">

			<div class="card bg-light">

				<div class="card-header" th:text="${titulo}"></div>
				<div class="card-body">

					<img class="img-thumbnail rounded float-left"
						style="max-width: 25%;" th:src="@{'/quizz_star/' + ${tema.foto}}" />

					<ul class="list-group">
						<li class="list-group-item" th:text="${tema.nombre}"></li>
						<li class="list-group-item" th:text="${tema.eslogan}"></li>
						<li class="list-group-item" th:text="${tema.usuario}"></li>
						<li class="list-group-item" th:text="${tema.foto}"></li>
						
						<li class="list-group-item"><a class="btn btn-success btn-xs"
							th:href="@{/crear_preguntas/}" th:text="'agregar preguntas'"></a></li>
						<li class="list-group-item"><a class="btn btn-success btn-xs"
							th:href="@{/play/} + ${tema.id}" th:text="'Jugar'"></a></li>
						<li class="list-group-item"><a class="btn btn-primary btn-xs"
							th:text="Votar +' '+ ${tema.id}" th:href="@{/votar/} +  ${tema.id}"></a>
							<a class="btn btn-success btn-xs"
							th:text="Seguir" th:href="@{/seguir/} +  ${tema.id}"></a>
						</li>

					</ul>




				</div>

			</div>

		</div>



	</div>


</body>
</html>